/* Code pulled from W3Schools
The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  position:relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  transition: all 0.25s ease;
  aspect-ratio: 13/19;
  filter:drop-shadow(0 0 30px black);
}

.flip-card .rounded {
  border-radius:15px !important;
}

.flip-card:not(.flipped):hover{
  cursor:pointer;
  transform:rotatez(-2deg) scale(1.1);
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(360deg);
}

.flip-card.flipped {
  transition: all 0.5s ease;
  z-index:15000;
  height: 80vh;
  width:auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.flip-card.flipped.opened .flip-card-back {
  z-index:-100000;
  animation: card-open-back 0.5s ease;
  animation-fill-mode: both;
  box-shadow:0 0 30px black;
  cursor:pointer;
  transition: all 0.1s ease;
}

.flip-card.flipped.opened .flip-card-back:hover {
  box-shadow: 0 0 30px white;
}

.flip-card.flipped.opened .flip-card-front {
  animation: card-open-front 0.5s ease;
  animation-fill-mode: both;
  box-shadow:0 0 30px black;
  transition: all 0.5s ease;
  filter:brightness(0.8);
}

@keyframes card-open-front {
  0% {
    transform: translatex(0) translatey(0) rotatez(0);
    z-index:100000;
  }
  50% {
    transform:translatex(-55%) translatey(-10px) rotatez(-1deg);
    z-index:100000;
  }
  100% {
    transform:translatex(-45%) translatey(-10px) rotatez(-2deg);
    z-index:-100000;
  }
}

@keyframes card-open-back {
  0% {
    z-index:-100000;
    transform: translatex(0) translatey(0) rotatez(0);
  }
  50% {
    z-index:-100000;
    transform:translatex(55%) translatey(10px) rotatez(1deg);
  }
  100% {
    z-index:100000;
    transform:translatex(45%) translatey(10px) rotatez(2deg);
  }
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: black;
  transform: rotateY(180deg);
  background-size:contain;
  padding:30px;
}

.lightbox-back{
  background-color: rgba(0,0,0, 0.8);
  z-index:10000;
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  transition:opacity 0.5s ease;
}

.flip-card-back>a.stretched-link>img {
  opacity:0;
  pointer-events:none;
  transition:opacity 0.25s ease;
}

.flip-card-back>a.stretched-link:hover>img{
  opacity:100%;
}
