.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Austie Bost Roman Holiday Sketch';
  src: url('../AustieBostRomanHolidaySketch.ttf');
}

.austie {
  font-family: 'Austie Bost Roman Holiday Sketch', serif;
}

@font-face {
  font-family: 'EFCO Brookshire Regular';
  src: url('../EFCO%20Brookshire%20Regular.ttf');
}

.brookshire {
  font-family: 'EFCO Brookshire Regular', serif;
}
