.page-spinner-wrapper {
  position:fixed;
  background-color:#000;
  transition:all 0.5s;
  width:100vw;
  height:100vh;
  z-index:100000;
}

.accordion-item {
  border:1px solid #5d197c;
}

.accordion-item.bg-dark {
  background-color: rgba(0,0,0,0.5) !important;
  text-shadow:0 0 10px black, 0 0 20px black, 0 0 40px black;
}

.accordion-body {
  box-shadow:0 0 20px black inset;
  backdrop-filter: blur(10px);
}

.bg-dark {
  background-color: #000 !important;
}

.bg-pick-a-card {
  background-size:cover;
  background-position-x:25%;
}

@media (min-width: 992px) {
  .bg-pick-a-card {
    background-size:120%;
    background-position-y:80%;
    background-position-x: left;
  }
}

.btn-outline-light:hover {
  text-shadow:none;
}

.link-light {
  color: rgba(255, 255, 255, .55);
  transition:color 0.2s
}

.link-light:hover, .link-light:focus, .link-light:active {
  color: rgba(255, 255, 255, .75);
}

.bg-dark .accordion-header .accordion-button {
  background-color:#000;
  color:#fff;
}

.bg-dark .accordion-header .accordion-button::after {
  filter:invert(1);
}

@media (min-width: 768px) {
  .index-logo {
    width:250px !important;
  }

  .row.py-md-11 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
  }
}

.index-logo {
  width:150px;
}

.banner {
  padding:10px 50px;
  text-align:center;
  width:100%;
  background-color: #47306d;
}

.banner button {
  position:absolute;
  top:10px;
  right: 10px;
}

.banner p {
  margin:0;
}

.banner span, .banner a{
  display:inline-block;
  color:white;
  text-decoration:none;
}

.banner a:hover {
  text-decoration:underline;
}
